<mat-toolbar color="primary" class="mat-toolbar">
  <a mat-button routerLink="home">Home</a>
  <a mat-button routerLink="login">Login</a>
  <span>My Project</span>
  <span class="spacer"></span>
  <button mat-icon-button class="material-symbols-outlined">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button class="material-symbols-outlined">
    <mat-icon>add_circle</mat-icon>
  </button>
</mat-toolbar>

<main>
  <div class="container">
    <button mat-button color="primary" class="button_show_animal" (click)="getDog()">
      Show me a dog!
    </button>
    <button mat-button color="primary" class="button_show_animal" (click)="getCat()">
      Show me a cat!
    </button>
  </div>
  <p>{{ status() }}</p>
  <div class="img-container">
    @if (imgUrl()) {
      <img [src]="imgUrl()" class="img-random-animal" alt="Random Animal Image " />
    }
  </div>
</main>

<div *appIfAdmin>
  <p>Admin-only content goes here.</p>
</div>
<router-outlet></router-outlet>
