.button_show_animal {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  gap: 16px;
}

.img-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 16px;
}

.img-random-animal {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
